@import url(/css/base/animation.css);
@import url(/css/base/button.css);
@import url(/css/base/input.css);
@import url(/css/base/scrollbar.css);

@font-face {
  font-family: Roboto;
  src: url(/font/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-thin;
  src: url(/font/Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-light;
  src: url(/font/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-medium;
  src: url(/font/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-bold;
  src: url(/font/Roboto/Roboto-Bold.ttf);
}

:root {
  --main-color: #007AFF;
  --main-color-900: #001833;
  --main-color-800: #003166;
  --main-color-700: #004999;
  --main-color-600: #0062CC;
  --main-color-400: #3395FF;
  --main-color-300: #66AFFF;
  --main-color-200: #99CAFF;
  --main-color-100: #CCE4FF;
  --main-color-50: #E6F2FF;

  --wcag-title-color: #000000;
  --wcag-primary-text-color: #212121;
  --wcag-secondary-text-color: #666666;
  --wcag-disable-color: #9E9E9E;
  --wcag-border-color: #E0E0E0;
  --wcag-background-color: #F7F7F7;
  --wcag-white-color: #FFF;

  --btn-icon-color: #E6F1E4;
  --btn-primary-color: #50B83C;
  --btn-primary-hover-color: #5DC748;
  --btn-primary-press-color: #118044;
  --btn-primary-disabled-color: #7ebe71;
  --btn-danger-color: #E81E1E;
  --btn-danger-hover-color: #ef4848;
  --btn-danger-press-color: #bf1a1a;
  --btn-danger-disabled-color: #eb7272;
  --btn-warning-color: #F7BB07;
  --btn-warning-hover-color: #f8ca42;
  --btn-warning-press-color: #c29205;
  --btn-warning-disabled-color: #f7d87b;

  --active-color: #50B83C;

  /* block variable */
  --block-border-radius: 8px;
  --container-padding: 20px;

  --toolbar-search-box-height: 36px;
  --toolbar-group-height: 250px;
  --toolbar-recent-height: calc(100vh - 150px - 2*var(--container-padding) - var(--toolbar-search-box-height) - var(--toolbar-group-height));

  --chat-box-header-height: 56px;
  --chat-box-footer-height: 56px;
  --chat-box-content-height: calc(100vh - 2*var(--container-padding) - var(--chat-box-header-height) - var(--chat-box-footer-height));

  --header-thumbnail-height: 60px;
  --navbar-height: calc(100% - var(--header-thumbnail-height) - 40px);
  --chat-message-thumbnail: 32px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: Roboto-light, sans-serif;
}

body {
  background-color: var(--wcag-background-color);
  color: #000000;
}

button {
  outline: unset;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

ul li {
  list-style: none;
}

ul li img:hover {
  cursor: pointer;
}

ul li a {
  text-decoration: none;
}

input {
  border: 1px solid var(--wcag-background-color);

}

input:focus {
  border: 1px solid var(--btn-primary-color);
  outline: none;
}

.--text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.--text-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.--button-reset {
  outline: unset;
  background-color: unset;
  border: unset;
}

.m-thumbnail {
  border: 1px solid var(--wcag-border-color);
  border-radius: 50%;
  position: relative;
}

.m-thumbnail.active::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--active-color);
  border-radius: 50%;
  box-shadow: #fff 0 0 1px 2px;

  position: absolute;
  bottom: 0;
  right: 0;
}

/* text select-color */
::-moz-selection {
  /* Code for Firefox */
  color: var(--wcag-white-color);
  background: var(--btn-primary-hover-color);
}

::selection {
  color: var(--wcag-white-color);
  background: var(--btn-primary-hover-color);
}

.scroll-y {
  overflow-y: auto;
}