@import url(/css/common.css);
@import url(/css/layout.css);
@import url(/css/chat-component/chatBox.css);
@import url(/css/chat-component/chatInfo.css);
@import url(/css/chat-component/emojiBox.css);

/* header start*/
.header-nav {
  height: var(--navbar-height);
}

.header-nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-nav ul li:hover {
  background-color: var(--main-color-400);
}

.header-nav .nav-item {
  color: var(--wcag-white-color);
  font-size: 2rem;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.header .nav-item i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav .nav-item.active {
  background-color: var(--main-color-600);
}

.header-nav .nav-item:hover .nav-item__tooltip {
  display: block;
  animation: fade-in 0.1s ease-in;
}

.header-nav .nav-item__tooltip {
  display: none;
  position: absolute;
  left: calc(100% + 8px);
  background-color: var(--main-color-400);
  white-space: nowrap;
  font-size: 1.1rem;
  border-radius: 4px;
  padding: 4px 8px;
  z-index: 1000;
}

.header .option {
  width: 100%;
  border-bottom: unset;
}

.header .option .option-click {
  width: 100%;
}

.header .option img {
  width: unset;
}

.thumbnail {
  width: var(--header-thumbnail-height);
  height: var(--header-thumbnail-height);
  margin: 1rem auto;
  border-radius: 50%;
  object-fit: cover;
}

/* header end */


/* search */
.search {
  position: relative;
}

.search .search-input {
  padding: 8px 1rem;
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: var(--block-border-radius);
  height: 36px;
  width: -webkit-fill-available;
  cursor: text;
}

.search .search-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.search .search-input:focus~.search-result-container {
  display: block;
}

.search .search-btn:focus+.search-result-container {
  display: block;
}

.search .search-result-container:hover {
  display: block;
}

.search .search-result-container {
  display: none;
  position: absolute;
  width: 100%;
  top: calc(100% + 8px);
  left: 0;
  z-index: 1000;
  padding: 0 8px;

  background-color: var(--wcag-white-color);
  border-radius: var(--block-border-radius);
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.search .search-result-container::before {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  top: -8px;
  left: 0;
}

.search-data {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: nowrap;
}

.friend-item.search-data {
  padding: 4px;
  border-bottom: 1px solid var(--wcag-border-color);
}

.friend-item.search-data:hover {
  cursor: pointer;
  background-color: rgb(218, 218, 218);
}

.search-data .search-message,
.friend-item.search-data .search-message {
  flex: 1;
  text-align: center;
}

.search-data .search-user__thumbnail img,
.friend-item.search-data .search-user__thumbnail img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.search-data .search-user__fullName {}

.friend-item.search-data .search-user__fullName {}

.search-data .search-user__addFriendBtn {
  display: flex;
}

.friend-item.search-data .search-user__addFriendBtn {
  display: flex;
}

/* group */

.groups {
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: var(--block-border-radius);
  padding: 1rem 0 1rem 1rem;
}

.groups .option,
.recents .option {
  height: 36px;
}


.groups .group-contacts {
  height: var(--toolbar-group-height);
  padding-right: 1rem;
}

.recents .recent-contacts {
  height: var(--toolbar-recent-height);
  padding-right: 1rem;
}

.item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.item .content {
  width: calc(100% - 40px - 8px);
}

.groups .item,
.recents .item {
  padding: 0.5rem;
}

.item:hover {
  background-color: rgb(218, 218, 218);
  cursor: pointer;
}

.item.active {
  background-color: var(--main-color-100);
}

.groups .item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.recents .item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.recents {
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: var(--block-border-radius);
  padding: 1rem 0 1rem 1rem;
  flex: 1;
}

.settings {
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: var(--block-border-radius);
  padding: 1rem;
  flex: 1;
}

/* toolbar */
.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--wcag-border-color);
}

.option>p {
  font-family: Roboto-medium;
}

.option img {
  width: 3px;
}

.option ul .option-click .option-btn {
  border-radius: 50%;
  padding: 0.1rem 0.4rem;
}

.option ul .option-click .option-btn:hover {
  cursor: pointer;
  background-color: var(--main-color-50);
}


.option .option-btn:focus+.menu {
  display: block;
}

.option .menu:hover {
  display: block;
}

.menu {
  position: absolute;
  display: none;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  z-index: 10;
}

.menu li {
  padding: 1rem;
}

.menu li:hover {
  background-color: var(--main-color-50);
}

.optionSetting {
  display: block;
}