@import url(/css/common.css);

.message-page {
  border-radius: 10px;
  padding: var(--container-padding);
  height: 100vh;
}

.mess {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1rem;
}

/* header start */
.header {
  width: 100px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: var(--main-color);
  border-radius: var(--block-border-radius);
}

.header-nav {
  height: var(--navbar-height);
}

.header-nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-nav ul li:hover {
  background-color: var(--main-color-400);
}

.header-nav .nav-item {
  color: var(--wcag-white-color);
  font-size: 2rem;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.header .nav-item i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav .nav-item.active {
  background-color: var(--main-color-600);
}

.header-nav .nav-item:hover .nav-item__tooltip {
  display: block;
  animation: fade-in 0.1s ease-in;
}

.header-nav .nav-item__tooltip {
  display: none;
  position: absolute;
  left: calc(100% + 8px);
  background-color: var(--main-color-400);
  white-space: nowrap;
  font-size: 1.1rem;
  border-radius: 4px;
  padding: 4px 8px;
}

/* header end */

.thumbnail {
  width: var(--header-thumbnail-height);
  height: var(--header-thumbnail-height);
  margin: 1rem auto;
  border-radius: 50%;
  object-fit: cover;
}

.toolbar {
  width: 300px;
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

/* search */

.search {
  position: relative;
}

.search input {
  padding: 8px 1rem;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: var(--block-border-radius);
  height: 36px;
  width: -webkit-fill-available;
  cursor: text;
}

.search .search-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.search .search-btn:focus+.search-result-container {}

.search .search-result-container:hover {}

.search .search-result-container {
  display: block;
  position: absolute;
  width: 100%;
  top: calc(100% + 8px);
  left: 0;
  z-index: 1000;
  padding: 0 8px;

  background-color: var(--wcag-white-color);
  border-radius: var(--block-border-radius);
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.search .search-result-container::before {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  top: -8px;
  left: 0;
}

.search .search-data,
.friend-item.search-data {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: nowrap;
}

.friend-item.search-data {
  padding: 4px;
  border-bottom: 1px solid var(--wcag-border-color);
}

.friend-item.search-data:hover {
  cursor: pointer;
  background-color: rgb(218, 218, 218);
}

.search .search-data .search-message,
.friend-item.search-data .search-message {
  flex: 1;
  text-align: center;
}

.search .search-data .search-user__thumbnail img,
.friend-item.search-data .search-user__thumbnail img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.search .search-data .search-user__fullName {}

.friend-item.search-data .search-user__fullName {}

.search .search-data .search-user__addFriendBtn {}

.friend-item.search-data .search-user__addFriendBtn {}

/* group */

.groups {
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: var(--block-border-radius);
  padding: 1rem 0 1rem 1rem;
}

.groups .option {}


.groups .group-contacts {
  height: var(--toolbar-group-height);
  padding-right: 1rem;
}

.recents .recent-contacts {
  height: var(--toolbar-recent-height);
  padding-right: 1rem;
}

.item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.item .content {
  width: calc(100% - 40px - 8px);
}

.groups .item,
.recents .item {
  padding: 0.5rem;
}

.groups .item:hover,
.recents .item:hover {
  background-color: rgb(218, 218, 218);
  cursor: pointer;
}

.groups .item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.recents .item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.recents {
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: var(--block-border-radius);
  padding: 1rem 0 1rem 1rem;
  flex: 1;
}

.chat,
.chat-introduction {
  display: flex;
  grid-column-start: 4;
  grid-column-end: 10;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: var(--block-border-radius);
}

.chat {
  /* display: none; */
}

.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
}

.chat-introduction {
  padding: 2rem;
  text-align: center;
}

.chat-box__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: var(--chat-box-header-height);
  border-bottom: 1px solid var(--wcag-border-color);
}

.chat-box__content {
  padding: 1rem;
  flex: 1;
  overflow-y: auto;
  max-height: var(--chat-box-content-height);
  display: flex;
  flex-direction: column;
}

.chat-box__content .chat-content__message+.chat-content__message {
  margin-top: 8px;
}

.chat-box__content .chat-content__message+.chat-content__message.--same-source {
  margin-top: 4px;
}

.chat-content__message {
  display: flex;
  align-items: center;
}

.chat-content__message .chat-message__content {
  max-width: 50%;
  position: relative;
  padding: 8px 16px;
  border-radius: 16px;
  background-color: var(--main-color-400);
}

.chat-content__message .chat-message__content>span {
  color: var(--wcag-white-color);

}

.chat-content__message .chat-message__thumbnail {
  max-height: var(--chat-message-thumbnail);
  border-radius: 50%;
  align-self: flex-start;
}

/* guest message */

.chat-content__message.guest .chat-message__thumbnail {
  float: left;
}

.chat-content__message.guest .chat-message__content {
  float: left;
}

.chat-content__message.guest .chat-message__thumbnail~.chat-message__content {
  margin-left: 4px;
}

.chat-content__message.guest+.chat-content__message.guest .chat-message__thumbnail {
  opacity: 1;
}

.chat-content__message.guest+.chat-content__message.guest.--same-source .chat-message__thumbnail {
  opacity: 0;
}

.chat-content__message.guest.--same-source {}


/* host message */
.chat-content__message.host {
  justify-content: flex-end;
}

.chat-content__message.host .chat-message__thumbnail {
  display: none;
}

.chat-content__message.host .chat-message__content {
  float: right;
}

/* chat context */
.chat-content__message .chat-message__content:hover .chat-message__context-menu {
  display: flex;
}

.chat-content__message .chat-message__context-menu:hover {
  display: flex;
}

.chat-content__message .chat-message__context-menu {
  display: none;
  flex-direction: row-reverse;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
}

.chat-message__context-menu .chat-context-menu__item {
  position: relative;
}

.chat-context-menu__item .context-menu-item__tooltip {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  color: var(--wcag-secondary-text-color);
  background-color: var(--wcag-white-color);
  padding: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid var(--wcag-disable-color);
  white-space: nowrap;
}

.chat-context-menu__item .chat-context-menu__child-item {
  display: none;
  position: absolute;
  right: 100%;
  top: 0;
  flex-direction: row-reverse;
}

.chat-context-menu__child-item .context-menu-item__tooltip {}

.chat-context-menu__item .m-icon-btn:hover~.context-menu-item__tooltip {
  display: block;
}

.chat-context-menu__item .m-icon-btn:focus~.chat-context-menu__child-item {
  display: flex;
}

.chat-context-menu__item .chat-context-menu__child-item:hover {
  display: flex;
}

/* chat context guest */
.chat-content__message.guest .chat-message__context-menu {
  float: left;
  flex-direction: row;
  left: 100%;
}

.chat-content__message.guest .chat-message__context-menu {}

.chat-content__message.guest .chat-context-menu__item .chat-context-menu__child-item {
  left: 100%;
  flex-direction: row;
}

.chat-content__message.guest .chat-context-menu__child-item .recall_btn {
  display: none;
}

/* chat context host */
.chat-content__message.host .chat-message__context-menu {
  float: right;
}


/* chat footer */

.chat-box__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--chat-box-footer-height);
  position: relative;
  padding-top: 8px;
  border-top: 1px solid var(--wcag-border-color);
}

.chat-box__footer .chat-box__input {
  font-size: 1.1rem;
  padding: 0 16px;
  flex: 1;
  height: 100%;
  border: unset;
  outline: unset;
  resize: none;
  border-radius: 0 0 var(--block-border-radius) var(--block-border-radius);
}


.chat-box__footer .chat-box__input::placeholder {}

.chat-box__footer .chat-box-footer__icon {
  right: 8px;
  display: flex;

}

.chat-box-footer__icon .m-icon-btn:not(:last-child) {
  margin-right: 10px;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--wcag-border-color);
}

.option img {
  width: 3px;
}

.option ul li.option-click {
  border-radius: 50%;
  padding: 0.1rem 0.5rem;
}

.option ul li.option-click:hover {
  cursor: pointer;
  background-color: rgb(238, 234, 234);
}

.menu {
  position: absolute;
  display: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  z-index: 10000;
}

.menu li {
  padding: 1rem;
}

.menu li:hover {
  background-color: rgb(218, 218, 218);
}

.optionSetting {
  display: block;
}

.responsive {
  grid-column-start: 2;
  grid-column-end: 10;
}

/* responsive */
@media (max-width: 800px) {
  .toolbar {
    width: auto;
    grid-column-start: 2;
    grid-column-end: 10;
  }

  .chat,
  .chat-introduction {
    grid-column-start: 2;
    grid-column-end: 10;
  }

  .chat-introduction {
    display: none;
  }
}