ol,
ul {
  padding-left: 0 !important;
}

p {
  margin-bottom: 0 !important;
}


/* modal */
.modal button.close {
  outline: unset !important;
  border: unset !important;
  background: unset !important;
  font-size: 2rem !important;
}


/* accordion override */
.accordion .card {
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-radius: unset;
}

.accordion .card-header {
  background-color: unset;
}

.accordion .card-header div,
.accordion .card-header p {
  font-family: Roboto-medium;
}

.accordion .card-body {
  display: flex;
  flex-direction: column;
  max-height: calc(40vh);
  overflow-y: auto;
}

.accordion .item {
  border-bottom: 1px solid var(--wcag-border-color);
  padding: 4px;
  cursor: default;
  gap: 4px;
}

.accordion .m-btn {
  margin-bottom: 4px;
}