:root {}

::-webkit-scrollbar-thumb {
  background-color: var(--wcag-secondary-text-color);
  border: 2px solid transparent;
  border-radius: 4px;
  background-clip: padding-box;
}

::-webkit-scrollbar {
  width: 8px;
}